.body{
    display: flex;
    flex-wrap: wrap;
}

.title{
    background-color: black;
    color: white;
    text-align: center;
    font-size: xx-large;
}

.preview{
    flex:1.5;
    padding: 2rem 2rem;
}

.inputfield{
    flex:0.5;
    padding: 2rem 2rem;
    background-color: gray;
}
